<div id="footer">

<div class="container">

<div class="row"><div class="footer-block-title col-md-2 col-md-offset-5">PHP</div></div> <div class="row"><!--LIGNE 3 -->
      <div class="footer-item L3C1 col-md-3"><img src="{{footerPhpimg1}}">
        <div>{{footerPhpContent1}}</div>
      </div><!--L3C1-->

      <div class="footer-item L3C2 col-md-3"><img src="{{footerPhpimg2}}">
        <div>{{footerPhpContent2}}</div>
      </div><!--L3C2-->

      <div class="footer-item L3C3 col-md-3"><img src="{{footerPhpimg3}}">
        <div>{{footerPhpContent3}}</div>
      </div><!--L3C3-->

      <div class="footer-item L3C4 col-md-3"><img src="{{footerPhpimg4}}">
        <div>{{footerPhpContent4}}</div>
      </div><!--L3C4-->  
</div>


<div class="row"><div class="footer-block-title col-md-2 col-md-offset-5">JAVASCRIPT</div></div>   
  <div class="row"><!--LIGNE 3 -->
      <div class="footer-item L3C1 col-md-3"><img src="{{footerPhpimg5}}">
        <div>{{footerPhpContent5}}</div>
      </div><!--L3C1-->

      <div class="footer-item L3C2 col-md-3"><img src="{{footerPhpimg6}}">
        <div>{{footerPhpContent6}}</div>
      </div><!--L3C2-->

      <div class="footer-item L3C3 col-md-3"><img src="{{footerPhpimg7}}">
        <div>{{footerPhpContent7}}</div>
      </div><!--L3C3-->

      <div class="footer-item L3C4 col-md-3"><img src="{{footerPhpimg8}}">
        <div>{{footerPhpContent8}}</div>
      </div><!--L3C4-->  
</div>

<div class="row"><div class="footer-block-title col-md-2 col-md-offset-5">JQUERY</div></div> 	
<div class="row"><!--LIGNE 3 -->
  <div class="footer-item L3C1 col-md-3"><img src="{{footerPhpimg9}}">
    <div>{{footerPhpContent9}}</div>
  </div><!--L3C1-->

  <div class="footer-item L3C2 col-md-3"><img src="{{footerPhpimg10}}">
    <div>{{footerPhpContent10}}</div>
  </div><!--L3C2-->

  <div class="footer-item L3C3 col-md-3"><img src="{{footerPhpimg11}}">
    <div>{{footerPhpContent11}}</div>
  </div><!--L3C3-->

  <div class="footer-item L3C4 col-md-3"><img src="{{footerPhpimg12}}">
    <div>{{footerPhpContent12}}</div>
  </div><!--L3C4-->  
</div>

</div><!-- container -->

</div><!--footer-->