<div id="top"><a routerLink="/presentation"><img class="img-circle" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAxMAAAAJGZkNTYwMTE5LTlkNGItNGQ2NC05ODAwLTc0YWI5YmM5ZjYyNQ.jpg" /></a><span>BINATE Aliyou</span> </div>

<div class="container">
<div class="row">
<div class="col-md-8 col-md-offset-2"><h1>{{title}}</h1></div>
</div>
</div>

<!--  Navigation -->
<div class="container">
<div class="row">
<nav class="col-md-8 col-md-offset-2">
  <a routerLink="/angular"><button class="btn">Angular</button></a>
  <a routerLink="/symfony"><button class="btn">Symfony</button></a>
  <a routerLink="/php"><button class="btn">PHP</button></a>
  <a routerLink="/java"><button class="btn">Java</button></a>
  <a routerLink="/html"><button class="btn">HTML</button></a>
  <a routerLink="/css"><button class="btn">CSS</button></a>
  <a routerLink="/mysql"><button class="btn">Mysql</button></a>
  <a routerLink="/javascript"><button class="btn">Javascript</button></a>
  <a routerLink="/jquery"><button class="btn">jQuery</button></a>
</nav>
</div>
</div>
<!--  /Navigation -->
<p></p>
<!--app-presentation></app-presentation-->
<router-outlet></router-outlet>
<app-footer></app-footer>